#content aside { width:0; padding:0; margin:0; display:none; }
#header { display: none }
#footer { display: none }
#content {
  padding-top: 10;
  overflow: auto;
  padding-bottom: 0;
}
textarea { display: none; }

.code-buttons { display: none; }
.nav-tabs { display: none; }
.tab-content > .tab-pane { display: block; }
